.fillinyourdetails {
    min-height: calc(100vh - 80px) !important;
  width: 100%;
  }

.icon-adj {
  position: relative !important;
}

.input-form {
  font-family: HelveticaNeueLight;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('/public/font/HelveticaNeueLight.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
